#vmap {
    width: 100%;
    height: 70%;
    /*     background-color: #1C5633 !important;
    borderColor: #1C5633,
 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Setup basic CSS for Label */

.jqvmap-pin {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    cursor: default;
    pointer-events: none;
}


/* Hide Whichever Labels you want */

#jqvmap1_ri_pin,
#jqvmap1_dc_pin,
#jqvmap1_de_pin,
#jqvmap1_md_pin {
    display: none;
}


/* Reposition Labels that are not quite right ( labels are centered in shape, and sometimes need tweaking ) */

#jqvmap1_ak_pin {
    margin-top: -2%;
}

#jqvmap1_ca_pin {
    margin-left: -2%;
}

#jqvmap1_ct_pin {
    margin-top: -0.25%;
    margin-left: -0.25%;
}

#jqvmap1_fl_pin {
    margin-left: 5%;
}

#jqvmap1_id_pin {
    margin-top: 3%;
    margin-left: -1%;
}

#jqvmap1_ky_pin {
    margin-left: 2%;
}

#jqvmap1_la_pin {
    margin-left: -2%;
}

#jqvmap1_mi_pin {
    margin-top: 4%;
    margin-left: 3%;
}

#jqvmap1_ma_pin {
    margin-top: -0.25%;
}

#jqvmap1_mn_pin {
    margin-top: 2%;
    margin-left: -2%;
}

#jqvmap1_nh_pin {
    margin-top: 1%;
    margin-left: -0.25%;
}

#jqvmap1_nj_pin {
    margin-top: 1%;
}

#jqvmap1_ok_pin {
    margin-left: 2%;
}

#jqvmap1_va_pin {
    margin-left: 2%;
}

#jqvmap1_wv_pin {
    margin-left: -1%;
    margin-top: 1%;
}


/* Add responsibe support to resize labels for difference screen sizes */

@media only screen and (min-width: 320px) {
    .jqvmap-pin {
        font-size: 6px;
    }
}

@media only screen and (min-width: 480px) {
    .jqvmap-pin {
        font-size: 8px;
    }
}

@media only screen and (min-width: 640px) {
    .jqvmap-pin {
        font-size: 10px;
    }
}

@media only screen and (min-width: 800px) {
    .jqvmap-pin {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .jqvmap-pin {
        font-size: 14px;
    }
}


/* OFFICES */

.offices {}

.offices .office {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 3px #DDDDDD;
    display: block;
    float: left;
    margin: 20px 18px 0;
    padding: 10px 15px;
    width: 45%;
}

.office h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px !important;
}

.office p {
    font-size: 15px;
}

.office .address {
    margin-top: -15px;
}

.office .phone {
    margin-top: -15px;
}
