html, body, .cover {
  height: 100vh;
}
.thick-3 {
    border: none !important;
    height: 3px !important;
    /* Set the hr color */
    color: #ddd !important; /* old IE */
    background-color: #ddd !important; /* Modern Browsers */
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #262626;
  height: 100vh;
}
#lead {
  margin-top: 95px;
}
#lead-photo {
  position: relative;
}
#lead-content {
  position: absolute;
  bottom: 105px;
  right: 15px;
  background-color: rgba(238, 238, 238, 0.5);
  padding: 2px 30px 5px 30px;
  color: #215732;
  font-weight: 800;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 3s;
}
#lead-content p {
  text-align: right;
  font-size: 30px;
  font-style: italic;
  font-family: 'Lobster', cursive;
}
#team-photo {
  position: relative;
}
#team-content {
  position: absolute;
  bottom: 30px;
  right: 15px;
  background-color: rgba(238, 238, 238, 0.6);
  padding: 0px 35px 10px 35px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 5s;
}
#team-content h3 {
  font-weight: 800;
}
#team-content a {
  color: inherit;
}
#team-content a:hover {
  color: #215732;
}
.orange-highlight  {
  color: rgba(255, 81, 0, 0.5) !important;
}
.orange-highlight:hover {
  color: rgb(255, 81, 0) !important;
  font-weight: 700;
}
.orange-highlight .fa:hover {
  color: rgb(255, 81, 0) !important;
}
.green-highlight  {
  color: #ff0 !important;
  background: rgba(33, 87, 50, 0.8);
  border: 1px solid #ff0 !important;
  border-radius: 5px;
  transition: all 1.5s ease-in-out;
}
.green-highlight:hover {
  color: rgba(33, 87, 50, 1) !important;
  background: #ff0 !important;
  border: 2px solid rgba(33, 87, 50, 1) !important;
  text-decoration: underline !important;
  transform: scale(1.05);
}
.fa {
  transition: all 0.5s ease;
}
.fa:hover {
  transform: rotate(359deg);
  color: #215732;
}
/* Button #215732 */
.main-btn {
  margin-top: 10px;
  color: #215732;
  background: #f1f1f1;
  border-radius: 0;
  border: 2px solid #c0c0c0;
  /*border-color: #c0c0c0;*/
  transition: background 1s, color 1s;
}
.main-btn:focus,
.main-btn.focus {
  color: #1C5633;
  border-color: #1C5633;
}
.main-btn:hover {
  color: #f1f1f1;
  background-color: #1C5633;
  border-color: rgba(33, 87, 50, 0.8);
}
.main-btn-form {
  margin-top: 10px;
  color: #f1f1f1;
  background: #1C5633;
  border-radius: 0;
  transition: background 1s, color 1s;
  font-family: inherit;
}
.main-btn-form:focus,
.main-btn-form.focus {
  color: #1C5633;
  border-color: #1C5633;
}
.main-btn-form:hover {
  color: #f1f1f1;
  background-color: #297c4a;
 /* border-color: rgba(33, 87, 50, 0.8);*/
}
.main-btn-form-reset {
  margin-top: 10px;
  color: #f1f1f1;
  background: rgba(255, 50, 50, 0.8);
  border-radius: 0;
  /*border-color: #f1f1f1;*/
  transition: background 1s, color 1s;
}
.main-btn-form-reset:focus,
.main-btn-form-reset.focus {
  color: #e50000;
  border-color: #e50000;
}
.main-btn-form-reset:hover {
  color: #f1f1f1;
  background-color: #e50000;
 /* border-color: rgba(255, 50, 50, 0.8);*/
}
.subscribe-btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  margin-top: 10px;
  color: #215732;
  background: #f1f1f1;
  border-radius: 0;
  border: 2px solid #c0c0c0;
  /*border-color: #c0c0c0;*/
  transition: background 1s, color 1s;
}
.subscribe-btn:focus,
.subscribe-btn.focus {
  color: #1C5633;
  border-color: #1C5633;
}
.subscribe-btn:hover {
  color: #f1f1f1;
  background-color: rgba(33, 87, 50, 0.8);;
  border-color: #f1f1f1;
}

.navbar {
  margin-bottom: 0px;
  min-height: 95px; }

.nav.navbar-nav {
  margin-top: 10px; }
  .nav.navbar-nav li a {
    font-size: 17px; }

.navbar-brand {
  margin: 8px 0 0 0;
  padding: 0; }
.navbar-nav li a {
  line-height: 30px;
}
.navbar-nav .fa {
  margin-right: 0;
}
.team-right p {
  font-size: 18px; }

.download-section {
  background-color: #fff;
  /*padding: 2rem 0;*/
}
.download-content p {
  font-size: 30px;
  font-weight: 800
}
.download-content a {
  color: #FB7F03;
}
.download-content a:hover {
  color: #E42206;
  text-decoration: underline;
}
.about-title h1 {
  text-align: center;
}
.about-title {
  margin: 60px 0;
}
.about-body {
  padding-bottom: 60px;
}
.about-thumbnail {
  border: none;
}
.team-thumbnail {
  border: none;
}
.team-thumbnail p {
  font-size: 14px;
}
.about-carousel-caption a {
  color: #ff0;
}
.bio-border {
  border: 1px solid #ddd;
  padding: 8px;
}
.bio-middle{
  margin-bottom: 20px;
}
.carousel-caption2 {
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption2 h2 {
  margin: 0;
}
.carousel-caption2 a {
  color: #fff;
}
.carousel-caption2 a:hover {
  color: #ff3;
}
.testimonial {
  background-color: #6F8D7A;
  background: url('../../images/about/couple_with_child.jpg') center center no-repeat;
  padding: 25rem 0;
  margin-top: 95px;
  color: #fefefe;
  background-size: cover;
}
.testimonial-body {

}
.carousel-inner>.item>img {

}
.testimonial-body blockquote {
  border-left: none;
  margin-bottom: 50px;
  padding: 30px 20px;
}
.testimonial-body blockquote a {
  color: #215732;
}
.testimonial-body blockquote a:hover {
  color: #ff3;
  cursor: pointer;
}
.carousel-indicators li {
    border: 1px solid #215732;
    color: #215732;
  }
.carousel-indicators li active{
    background-color: #215732;
  }
.carousel-indicators .active {
    background-color: #215732;
  }

.contact-content {
  text-align: center;
  color: #fefefe;

}
  .contact-content h1 {
    margin-top: 250px;
    font-size: 38px;
    font-weight: 800; }
#success-msg {
  background-color: rgba(0, 0, 0, 0.5);


}

#testimonial {
  background-color: #CACACA;
  padding: 3rem 0;
}

#first-section {
  margin-top: 95px;
}
.contact-us {
  background: #f7f9fa;
  color: #62846f;
  padding: 20px;
 }
 .contact-us a {
  color: #62846f;
 }
  .contact-us a:hover {
    color: #215732; }
.contactus-head {
  text-align: center;
  font-size: 31px;}
input[type=text], input[type=email], input[type=tel], input[type=message], textarea.form-control {
  background: #f6f6f6;
  border: 3px solid #62846f;
  /*padding: 18px;*/
  border-radius: 0;
  color: #62846f; }

#testimonial-divider {
  /*background-size: contain;*/
  padding: 28rem 0;
/*  text-align: center;*/
  background: url("../images/Orlando_team_green.jpg") center center no-repeat;
   }
.started-slogan {
  margin-top: -52px;
  margin-bottom: 41px;
}
.feature-content, .flex-content, .benefit-content, .product-content {
  padding: 2rem 0;
  overflow: hidden; }

.pager a {
  color: #215732;
}
.support {
  text-align: center;
}
.support p {
  font-size: 18px;
}
.who-we-are-title h3 {
  font-size: 30px;
  font-weight: 800; }
.who-we-are-subtitle {
  margin-top: 30px;
}
.who-we-are-body {
  margin-bottom: 50px; }
  .who-we-are-body p {
    font-size: 20px; }
  .who-we-are-body ul {
    font-size: 17px; }

.about-title h3 {
  font-size: 30px;
  font-weight: 800; }

.about-body {
  margin-bottom: 50px; }
  .about-body p {
    font-size: 20px; }
  .about-body ul {
    font-size: 17px; }
  .about-body ol {
    font-size:20px;
  }
.partner-title p {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}
.our-products {
  margin: 40px 0 80px; }
  .our-products h2 {
    font-size: 36px; }
  .our-products ul {
    font-size: 18px; }
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.thumbnail {
}
.officer-content {
  margin-top: 4rem;
}

.flex-row .thumbnail,
.flex-row .caption {
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  height: auto;
  position: relative;
}
.flex-text {
  flex-grow: 1;
}
.flex-row img {
  min-width: 0;
  width: 100%;
}
#team {
  background: #fff;
 }
 .contact-us-page {
  background-color: gray;
 }
 footer {
  background-color: #215732;
  padding-top: 20px;
  color: white;
  font-size: 11px;
 }
 .why-choose-pic {
  margin-left: 85px
 }
.team-right {

  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  padding: 77px;
  overflow: hidden;
}
.loan-prod-section {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}
.social-links {
  font-size: 2.3rem;
}
.social-links .fa {
  transition: all 0.5s ease;
}
.social-links .fa:hover {
  transform: rotate(359deg);
}
.social-links a {
  color: inherit;

}
.social-links a:hover {
  color: #215732;
}
.about-caption {
  text-align: center;
}
.about-caption a {
  color: #215732;
}
.about-caption a:hover {
  font-weight: 700;
}
#equal-house {
  margin-top: 15px;
}
.terms a {
  color: #ff3;
  text-decoration: underline;
}
.navbar-right p {
  margin-left: 5px; }

.navbar-collapse {
  border-top: none; }
.question {
  font-weight: 800;
}
.answer {
  margin-left: 20px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.testpage {
  background:;
}

.testimonial-body {
  background: ;
}
.carousel-indicators .active {
  color: #215732;
}
#products {
  background-color: #f6f6f6;
  padding: 4rem 0;
  overflow: hidden;

}
#products h2 {
  text-align: center;
}
.specialists {
  text-align: center;
}
.specialists p {
  font-size: 15px;
}
.specialists a {
  color: #215732;
}
.specialists .thumbnail {
  border: none;
}
#contact-banner {
  background: url('../../images/about/family_on_lawn.jpg') top left no-repeat;
  background-size: cover;
  min-height: 700px;
}
#tools {
  background-color: #f6f6f6;
  padding: 4rem 0;
  overflow: hidden;
}
.contactUsBox {
  position: absolute;
  top: 40%;
  left: 50%;
  min-width: 70%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 4rem;
  color: #fff;
  margin: 3rem 0;
}
.contactUsBox-text {
  /*min-width: 500px;*/
  /*width: 100%;*/
}
.contactUsBox-text h2 {
  padding-bottom: 20px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: 500px;
  float: left;
  width: 100%;
  border: 0;
  }
.feature-row {
  display: flex;
  overflow: hidden;
}
.feature {
  background: #fff !important;
  border: 3px solid #ccc;
  padding:  10px;
  height:  auto;
  flex: 1;
  text-align: center;
}
.carousel-caption {
  background-color: rgba(0,0,0,.3);
}
.col-xs-15 {
    width: 20%;
    float: left;
}
.footer-icon-right {
      padding: 0;
    }
  .mainscreen-image {
    display: none;
    position: relative;
  }
  .btn-mobile {
    position: absolute;
  }
  .give-back-ul {
    text-align: center;
  }
  .give-back-ul ul {
    list-style-type: none;
  }

.thumb {
  overflow:hidden;
  height: 84px;
}

.thumb img {
  width: 100%;
  position: relative;
  top: -13px;
}
.product-thumb h3 {
  font-size: 20px;
}
.product-btn {
  font-size: 12px;
}
.fastapp_download_logos {
  display: flex; 
  position: absolute; 
  bottom: 50px; 
  left: 70px;
}
.fastapp-section {
  padding-top: 20px;
  background: rgba(255, 255, 255, 1);
}
.fastapp-description p {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  color: rgba(33, 87, 50, 1);
}
.fastapp-description span {
  font-style: italic;
}
.fastapp-heading {
  color: rgba(33, 87, 50, 1);
}
.fastapp ul {
  color: rgba(33, 87, 50, .8);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.fastapp-last {
  margin-bottom: 40px;
}
.social-title {
  text-align: center;
  font-family: 'Squada One', cursive;
  font-size: 25px;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
/* Media Queries*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    /*.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }*/
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .collapse.in{
        display:block !important;
    }
    .product-thumb h3 {
       font-size: 17px;
    }
       
}

@media (max-width: 1199px) {
  #lead-content {
    bottom: 15px;
    right: 0px;
  }
  #lead-content h1 {
      font-size: 30px;
    }

}
@media screen and (max-width: 991px) {
  .product-thumb h3 {
    font-size: 13px;
  }
}
@media screen and (min-width: 991px) {
  .feature-content, .flex-content, .giveback-content, .findbranch-content, .benefit-content, .contact-content, .front-slider, .footer-content, .product-content, .timeline-content {
    display: flex;
    align-items: center; }
  .team-content {
    display: flex;
    }}
@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
/*    margin-left: -80px;*/
}
}
@media screen and (max-width: 778px) {
  #lead-content h1 {
      font-size: 24px;
    }
  #lead-content p {
    font-size: 20px;
  }
  .product-content {
    display: flex;
    align-items: center;
  }
  .team-right {
  text-align: center;
  padding: 20px;
  }
  .testimonial-body blockquote {
  font-size: 12px;
  border-left: none;
  margin-bottom: 50px;
}
  .testimonial-body h2 {
    font-size: 26px;
  }
  #testimonial-divider {
      background-size: contain;
      padding: 8rem 0;
  }
  #mobile-banner {
    background: #f6f6f6;
}
 .give-back-ul {
    text-align: left;
  }
  .fastapplogo, .fastapplogo-text {
    display: none;
  }
  .landing-left {
    margin-top: 0;
  }
  .mainscreen-image {
    display: block;
  }
  .newsletter-homepage {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
}
.newsletter-homepage p {
  font-size: 12px;
}
.subscribe-btn {
  padding: 5px 8px;
  font-size: 12px;
  line-height: 1.13;
  margin-top: 0px;
  }
  .btn-mobile {
    top: 120px;
    left: 25px;
  }
  .cover {
    height: auto;
  }
  .product-thumb h3 {
    font-size: 14px;
  }
  .caption p {
    text-align: center;
  }
  .mainscreen-image {
    display: block;
  }
  .vid-section {
    margin-top: 30px;
  }
  .vid-item {
    width: 170px;
  }
  .contactUsBox {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contactUsBox-text h1 {
    font-size: 28px;
  }
  .contactUsBox-text h2 {
    font-size: 17.7px;
    padding-bottom: 20px;
  }
  .why-choose-boe-list {
    padding: 15px;
  }
  .started-slogan {
  margin-top: -32px;
  margin-bottom: 41px;
 }
 .started-slogan h1 {
   font-size: 24px;
 }
 .terms p {
  font-size: 10px;
 }
 #marketing-products h2, .team-content h2, .our-vision-right h2 {
  font-size:22px;
 }
 .testimonial, .who-we-are, .about {
    background-size: contain;
    padding: 4rem 0;
 }
 .who-we-are-title h3, .who-we-are-body h3 {
    font-size:22px;
 }
 .who-we-are-body p {
  font-size: 18px;
 }
 .who-we-are-body ul {
  font-size: 15px;
 }
 .contact-content h1 {
  margin-top: 300px;
  font-size: 31px;
 }
 .marketing-image {
  margin: 0 auto;
 }
 .btn {
  font-size: 10px;
 }
.location-btn {
  font-size: 14px;
}
 .carousel-caption h2 {
  font-size: 16px;
 }
 .carousel-caption .btn-lg {
  font-size: 14px;
  padding: 5px;
 }
   #come-thrive p {
    font-size: 16px; }
  #come-thrive h3 {
    font-size: 24px; }
  #come-thrive h2 {
    font-size: 28px; }
  .contactus-head {
    font-size: 20px;
  }
  .why-choose-pic {
    margin-left: 0;
  }
  .product-content {
    display: block;
  }
  .carousel-caption {
    padding-top: 0;
  }
  .about-title h1 {
    font-size: 28px;
  }
  .about-caption h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 550px) {
  #lead-content {
    padding: 0px 20px 0px 10px;
  }
  #lead-content h1 {
    font-size: 14px;
  }
  #lead-content p {
    font-size: 11px;
  }
  #team-content {
    padding: 0px 15px 5px;
    bottom: 0;
  }
  #team-content h3 {
    font-size: 14px;
  }
  }
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .btn-mobile {
    top: 110px;
    left: 25px;
  }
}
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .btn-mobile {
    top: 120px;
    left: 25px;
  }
  .caption h3 {
    font-size: 10px;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .btn-mobile {
    top: 208px;
    left: 45px;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .btn-mobile {
        top: 130px;
        left: 29px;
      }
    #lead-content h1 {
      font-size: 12px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .btn-mobile {
    top: 230px;
    left: 50px;
  }
}

